<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977355559764-u2jrtshb6afqmocal1e9dlv7rh9jiua8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977355559764-u2jrtshb6afqmocal1e9dlv7rh9jiua8</string>
	<key>API_KEY</key>
	<string>AIzaSyCI3HoJTPVSIuGwwuUU2LyFa14LlwAzEIA</string>
	<key>GCM_SENDER_ID</key>
	<string>977355559764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gpaCalcos</string>
	<key>PROJECT_ID</key>
	<string>gpa-calcos</string>
	<key>STORAGE_BUCKET</key>
	<string>gpa-calcos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977355559764:ios:dce6a068e7658e23d1eec1</string>
</dict>
</plist>